.Input {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 900px) {
  .Input {
    width: 95%;
    margin: 0;
  }
}
.Input > textarea {
  width: 400px;
  height: 370px;
  padding-left: 10px;
  border: 2px solid rgb(112, 111, 111);
  border-radius: 5px 5px 5px 5px;
  outline: none;
  background: #dddcda;
  color: #4e4e4e;
  margin: 10px 10px 10px 10px;
  font-size: 80%;
}
@media screen and (max-width: 900px) {
  .Input > textarea {
    width: 95%;
    height: 200px;
    margin: 2px;
  }
}
@media screen and (max-width: 400px) {
  .Input > textarea {
    width: 95%;
    height: 200px;
    margin: 2px;
  }
}
.Input > label {
  font-size: 18px;
  margin: 0 0 0 5%;
}
.Input > span {
  font-size: 0.8rem;
  color: red;
}
